In [2]:
from prompt_toolkit import filters
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [3]:
census_2021 = pd.read_csv('/content/drive/MyDrive/DAB103 - Group 8/Canada Census 2021.csv')

In [4]:
census_2021

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Age (16):65 to 69 years[12],Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15
0,2021,Canada,2021A000011124,Total - Gender,2021,Total - Marital status,1.1.1.1,30979190,NaN,2012975,...,2210970,NaN,1847585,NaN,1260935,NaN,840545,NaN,861395,NaN
1,2021,Canada,2021A000011124,Total - Gender,2021,Married or living common-law,1.1.1.2,17626005,NaN,18970,...,1521735,NaN,1232255,NaN,780775,NaN,442330,NaN,283825,NaN
2,2021,Canada,2021A000011124,Total - Gender,2021,Married,1.1.1.3,13725630,NaN,2285,...,1339340,NaN,1118280,NaN,722820,NaN,418480,NaN,272725,NaN
3,2021,Canada,2021A000011124,Total - Gender,2021,Living common-law,1.1.1.4,3900375,NaN,16690,...,182390,NaN,113980,NaN,57955,NaN,23845,NaN,11100,NaN
4,2021,Canada,2021A000011124,Total - Gender,2021,Living common law - Never married,1.1.1.5,2967665,NaN,16690,...,66815,NaN,30825,NaN,12025,NaN,4410,NaN,2105,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575,2021,Nunavut,2021A000262,Women+,2006,Not married and not living common-law,55.3.4.9,4245,NaN,1335,...,90,NaN,60,NaN,50,NaN,20,NaN,20,NaN
8576,2021,Nunavut,2021A000262,Women+,2006,Not married and not living common law - Never ...,55.3.4.10,3505,NaN,1335,...,15,NaN,5,NaN,5,NaN,0,...,0,NaN
8577,2021,Nunavut,2021A000262,Women+,2006,Not married and not living common law - Separated,55.3.4.11,155,NaN,0,...,0,NaN,0,NaN,0,NaN,0,...,0,...
8578,2021,Nunavut,2021A000262,Women+,2006,Not married and not living common law - Divorced,55.3.4.12,175,NaN,0,...,10,NaN,5,NaN,5,NaN,0,...,0,...
8579,2021,Nunavut,2021A000262,Women+,2006,Not married and not living common law - Widowed,55.3.4.13,410,NaN,0,...,65,NaN,50,NaN,40,NaN,20,NaN,15,NaN

In [5]:
census_2021.shape

(8580, 39)

In [6]:
census_2021.describe()

,REF_DATE,Census year (4),Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],Age (16):20 to 24 years[3],Age (16):25 to 29 years[4],Age (16):30 to 34 years[5],Age (16):35 to 39 years[6],Age (16):40 to 44 years[7],Age (16):45 to 49 years[8],Age (16):50 to 54 years[9],Age (16):55 to 59 years[10],Age (16):60 to 64 years[11],Age (16):65 to 69 years[12],Age (16):70 to 74 years[13],Age (16):75 to 79 years[14],Age (16):80 to 84 years[15],Age (16):85 years and over[16]
count,8580.0,8580.000000,8.580000e+03,0.0,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8.580000e+03,8580.000000,8580.000000
mean,2021.0,2013.500000,2.260446e+05,NaN,1.599483e+04,1.748494e+04,1.848953e+04,1.869175e+04,1.873773e+04,1.935601e+04,1.989670e+04,1.988983e+04,1.891436e+04,1.637545e+04,1.322836e+04,1.038675e+04,7.734050e+03,5565.876457,5298.303030
std,0.0,5.590496,1.141907e+06,NaN,1.066892e+05,1.021634e+05,9.205497e+04,9.296770e+04,9.635849e+04,1.010966e+05,1.048261e+05,1.055745e+05,1.018668e+05,9.022315e+04,7.420334e+04,5.829455e+04,4.244420e+04,30349.190132,30888.464933
min,2021.0,2006.000000,5.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,2021.0,2009.750000,3.345000e+03,NaN,0.000000e+00,1.000000e+01,3.500000e+01,9.500000e+01,1.650000e+02,2.400000e+02,2.750000e+02,2.800000e+02,2.600000e+02,2.037500e+02,1.350000e+02,8.500000e+01,5.000000e+01,25.000000,10.000000
50%,2021.0,2013.500000,1.692500e+04,NaN,3.000000e+01,4.250000e+02,1.047500e+03,1.150000e+03,1.100000e+03,1.200000e+03,1.290000e+03,1.295000e+03,1.190000e+03,9.450000e+02,7.100000e+02,5.200000e+02,3.200000e+02,195.000000,130.000000
75%,2021.0,2017.250000,7.563375e+04,NaN,1.420000e+03,4.185000e+03,5.435000e+03,5.528750e+03,5.536250e+03,5.745000e+03,6.056250e+03,6.081250e+03,5.836250e+03,4.976250e+03,4.026250e+03,3.160000e+03,2.320000e+03,1630.000000,1480.000000
max,2021.0,2021.000000,3.097919e+07,NaN,2.178135e+06,2.242690e+06,2.421505e+06,2.518835e+06,2.511350e+06,2.610460e+06,2.675135e+06,2.678070e+06,2.647330e+06,2.571580e+06,2.210970e+06,1.847585e+06,1.260935e+06,840545.000000,861395.000000

In [7]:
census_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8580 entries, 0 to 8579
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   REF_DATE                        8580 non-null   int64
 1   GEO                             8580 non-null   object
 2   DGUID                           8580 non-null   object
 3   Gender (3a)                     8580 non-null   object
 4   Census year (4)                 8580 non-null   int64
 5   Marital status (13)             8580 non-null   object
 6   Coordinate                      8580 non-null   object
 7   Age (16):Total - Age[1]         8580 non-null   int64
 8   Symbol                          0 non-null      float64
 9   Age (16):15 to 19 years[2]      8580 non-null   int64
 10  Symbol.1                        1606 non-null   object
 11  Age (16):20 to 24 years[3]      8580 non-null   int64
 12  Symbol.2                        415 non-null    object
 13  Age (16):25 to 29 years[4]      8580 non-null   int64
 14  Symbol.3                        170 non-null    object
 15  Age (16):30 to 34 years[5]      8580 non-null   int64
 16  Symbol.4                        95 non-null     object
 17  Age (16):35 to 39 years[6]      8580 non-null   int64
 18  Symbol.5                        41 non-null     object
 19  Age (16):40 to 44 years[7]      8580 non-null   int64
 20  Symbol.6                        16 non-null     object
 21  Age (16):45 to 49 years[8]      8580 non-null   int64
 22  Symbol.7                        2 non-null      object
 23  Age (16):50 to 54 years[9]      8580 non-null   int64
 24  Symbol.8                        1 non-null      object
 25  Age (16):55 to 59 years[10]     8580 non-null   int64
 26  Symbol.9                        1 non-null      object
 27  Age (16):60 to 64 years[11]     8580 non-null   int64
 28  Symbol.10                       4 non-null      object
 29  Age (16):65 to 69 years[12]     8580 non-null   int64
 30  Symbol.11                       9 non-null      object
 31  Age (16):70 to 74 years[13]     8580 non-null   int64
 32  Symbol.12                       41 non-null     object
 33  Age (16):75 to 79 years[14]     8580 non-null   int64
 34  Symbol.13                       85 non-null     object
 35  Age (16):80 to 84 years[15]     8580 non-null   int64
 36  Symbol.14                       189 non-null    object
 37  Age (16):85 years and over[16]  8580 non-null   int64
 38  Symbol.15                       375 non-null    object
dtypes: float64(1), int64(18), object(20)
memory usage: 2.6+ MB

In [8]:
census_2021.isna().sum().sum()

134230

In [9]:
census_2021.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Gender (3a)', 'Census year (4)',
       'Marital status (13)', 'Coordinate', 'Age (16):Total - Age[1]',
       'Symbol', 'Age (16):15 to 19 years[2]', 'Symbol.1',
       'Age (16):20 to 24 years[3]', 'Symbol.2', 'Age (16):25 to 29 years[4]',
       'Symbol.3', 'Age (16):30 to 34 years[5]', 'Symbol.4',
       'Age (16):35 to 39 years[6]', 'Symbol.5', 'Age (16):40 to 44 years[7]',
       'Symbol.6', 'Age (16):45 to 49 years[8]', 'Symbol.7',
       'Age (16):50 to 54 years[9]', 'Symbol.8', 'Age (16):55 to 59 years[10]',
       'Symbol.9', 'Age (16):60 to 64 years[11]', 'Symbol.10',
       'Age (16):65 to 69 years[12]', 'Symbol.11',
       'Age (16):70 to 74 years[13]', 'Symbol.12',
       'Age (16):75 to 79 years[14]', 'Symbol.13',
       'Age (16):80 to 84 years[15]', 'Symbol.14',
       'Age (16):85 years and over[16]', 'Symbol.15'],
      dtype='object')

In [10]:
census_2021.index

RangeIndex(start=0, stop=8580, step=1)

In [11]:
census_2021.dtypes

REF_DATE                            int64
GEO                                object
DGUID                              object
Gender (3a)                        object
Census year (4)                     int64
Marital status (13)                object
Coordinate                         object
Age (16):Total - Age[1]             int64
Symbol                            float64
Age (16):15 to 19 years[2]          int64
Symbol.1                           object
Age (16):20 to 24 years[3]          int64
Symbol.2                           object
Age (16):25 to 29 years[4]          int64
Symbol.3                           object
Age (16):30 to 34 years[5]          int64
Symbol.4                           object
Age (16):35 to 39 years[6]          int64
Symbol.5                           object
Age (16):40 to 44 years[7]          int64
Symbol.6                           object
Age (16):45 to 49 years[8]          int64
Symbol.7                           object
Age (16):50 to 54 years[9]          int64
Symbol.8                           object
Age (16):55 to 59 years[10]         int64
Symbol.9                           object
Age (16):60 to 64 years[11]         int64
Symbol.10                          object
Age (16):65 to 69 years[12]         int64
Symbol.11                          object
Age (16):70 to 74 years[13]         int64
Symbol.12                          object
Age (16):75 to 79 years[14]         int64
Symbol.13                          object
Age (16):80 to 84 years[15]         int64
Symbol.14                          object
Age (16):85 years and over[16]      int64
Symbol.15                          object
dtype: object

In [12]:
census_2021_srt = census_2021.sort_values(['Census year (4)', 'GEO'], ascending = [False, True])
census_2021_srt

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Age (16):65 to 69 years[12],Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15
7020,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Total - Marital status,46.1.1.1,161165,NaN,11785,...,10750,NaN,9160,NaN,6180,NaN,4310,NaN,4360,NaN
7021,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Married or living common-law,46.1.1.2,94960,NaN,70,...,7620,NaN,6260,NaN,4025,NaN,2420,NaN,1480,NaN
7022,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Married,46.1.1.3,83390,NaN,25,...,7150,NaN,5930,NaN,3875,NaN,2350,NaN,1445,NaN
7023,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Living common-law,46.1.1.4,11560,NaN,50,...,465,NaN,325,NaN,150,NaN,65,NaN,35,NaN
7024,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Living common law - Never married,46.1.1.5,8075,NaN,50,...,145,NaN,80,NaN,30,NaN,15,NaN,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8263,2021,Yukon,2021A000260,Women+,2006,Not married and not living common-law,53.3.4.9,5485,NaN,995,...,175,NaN,160,NaN,115,NaN,80,NaN,95,NaN
8264,2021,Yukon,2021A000260,Women+,2006,Not married and not living common law - Never ...,53.3.4.10,3525,NaN,990,...,25,NaN,15,NaN,10,NaN,5,NaN,0,NaN
8265,2021,Yukon,2021A000260,Women+,2006,Not married and not living common law - Separated,53.3.4.11,420,NaN,5,...,15,NaN,10,NaN,5,NaN,0,NaN,5,NaN
8266,2021,Yukon,2021A000260,Women+,2006,Not married and not living common law - Divorced,53.3.4.12,885,NaN,0,...,50,NaN,30,NaN,15,NaN,5,NaN,0,NaN
8267,2021,Yukon,2021A000260,Women+,2006,Not married and not living common law - Widowed,53.3.4.13,655,NaN,0,...,80,NaN,100,NaN,90,NaN,65,NaN,90,NaN

In [13]:
census_2021_srt.head()

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Age (16):65 to 69 years[12],Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15
7020,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Total - Marital status,46.1.1.1,161165,NaN,11785,...,10750,NaN,9160,NaN,6180,NaN,4310,NaN,4360,NaN
7021,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Married or living common-law,46.1.1.2,94960,NaN,70,...,7620,NaN,6260,NaN,4025,NaN,2420,NaN,1480,NaN
7022,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Married,46.1.1.3,83390,NaN,25,...,7150,NaN,5930,NaN,3875,NaN,2350,NaN,1445,NaN
7023,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Living common-law,46.1.1.4,11560,NaN,50,...,465,NaN,325,NaN,150,NaN,65,NaN,35,NaN
7024,2021,"Abbotsford - Mission (CMA), B.C.",2021S0503932,Total - Gender,2021,Living common law - Never married,46.1.1.5,8075,NaN,50,...,145,NaN,80,NaN,30,NaN,15,NaN,5,NaN

In [14]:
census_2021_2017 = census_2021[census_2021["Census year (4)"]>= 2017]
census_2021_2017

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Age (16):65 to 69 years[12],Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15
0,2021,Canada,2021A000011124,Total - Gender,2021,Total - Marital status,1.1.1.1,30979190,NaN,2012975,...,2210970,NaN,1847585,NaN,1260935,NaN,840545,NaN,861395,NaN
1,2021,Canada,2021A000011124,Total - Gender,2021,Married or living common-law,1.1.1.2,17626005,NaN,18970,...,1521735,NaN,1232255,NaN,780775,NaN,442330,NaN,283825,NaN
2,2021,Canada,2021A000011124,Total - Gender,2021,Married,1.1.1.3,13725630,NaN,2285,...,1339340,NaN,1118280,NaN,722820,NaN,418480,NaN,272725,NaN
3,2021,Canada,2021A000011124,Total - Gender,2021,Living common-law,1.1.1.4,3900375,NaN,16690,...,182390,NaN,113980,NaN,57955,NaN,23845,NaN,11100,NaN
4,2021,Canada,2021A000011124,Total - Gender,2021,Living common law - Never married,1.1.1.5,2967665,NaN,16690,...,66815,NaN,30825,NaN,12025,NaN,4410,NaN,2105,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8536,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common-law,55.3.1.9,5975,NaN,1405,...,155,NaN,105,NaN,65,NaN,45,NaN,45,NaN
8537,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Never ...,55.3.1.10,4925,NaN,1405,...,45,NaN,25,NaN,10,NaN,5,NaN,0,NaN
8538,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Separated,55.3.1.11,240,NaN,0,...,10,NaN,5,NaN,5,NaN,0,NaN,0,NaN
8539,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Divorced,55.3.1.12,270,NaN,0,...,25,NaN,10,NaN,5,NaN,0,NaN,0,NaN
8540,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Widowed,55.3.1.13,545,NaN,0,...,75,NaN,65,NaN,45,NaN,40,NaN,40,NaN

In [15]:
census_2021_2017[census_2021_2017["Gender (3a)"] == "Men+"]

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Age (16):65 to 69 years[12],Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15
52,2021,Canada,2021A000011124,Men+,2021,Total - Marital status,1.2.1.1,15139730,NaN,1036735,...,1065300,NaN,879850,NaN,589090,NaN,370905,NaN,319535,NaN
53,2021,Canada,2021A000011124,Men+,2021,Married or living common-law,1.2.1.2,8813405,NaN,5885,...,788990,NaN,662970,NaN,442365,NaN,265055,NaN,186165,NaN
54,2021,Canada,2021A000011124,Men+,2021,Married,1.2.1.3,6859750,NaN,580,...,688875,NaN,597165,NaN,406695,NaN,249400,NaN,178275,NaN
55,2021,Canada,2021A000011124,Men+,2021,Living common-law,1.2.1.4,1953650,NaN,5305,...,100115,NaN,65805,NaN,35665,NaN,15655,NaN,7890,NaN
56,2021,Canada,2021A000011124,Men+,2021,Living common law - Never married,1.2.1.5,1485985,NaN,5305,...,38290,NaN,18225,NaN,7435,NaN,2820,NaN,1445,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8484,2021,Nunavut,2021A000262,Men+,2021,Not married and not living common-law,55.2.1.9,6315,NaN,1450,...,105,NaN,60,NaN,40,NaN,30,NaN,20,NaN
8485,2021,Nunavut,2021A000262,Men+,2021,Not married and not living common law - Never ...,55.2.1.10,5650,NaN,1450,...,40,NaN,20,NaN,10,NaN,0,NaN,5,NaN
8486,2021,Nunavut,2021A000262,Men+,2021,Not married and not living common law - Separated,55.2.1.11,230,NaN,0,...,10,NaN,5,NaN,0,NaN,0,NaN,0,NaN
8487,2021,Nunavut,2021A000262,Men+,2021,Not married and not living common law - Divorced,55.2.1.12,215,NaN,0,...,25,NaN,10,NaN,5,NaN,0,NaN,0,NaN
8488,2021,Nunavut,2021A000262,Men+,2021,Not married and not living common law - Widowed,55.2.1.13,225,NaN,0,...,30,NaN,35,NaN,30,NaN,30,NaN,15,NaN

In [16]:
census_2021_2017[census_2021_2017["Gender (3a)"] == "Men+"]["Age (16):Total - Age[1]"].sum()

129410245

In [17]:
men = census_2021_2017[census_2021_2017["Gender (3a)"] == "Men+"]["Age (16):Total - Age[1]"].sum()
total_gender = census_2021_2017[census_2021_2017["Gender (3a)"] == "Total - Gender"]["Age (16):Total - Age[1]"].sum()

print(men/total_gender)

0.4885663016741132

In [18]:
census_2021_2017[census_2021_2017["Gender (3a)"] == "Women+"]

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Age (16):65 to 69 years[12],Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15
104,2021,Canada,2021A000011124,Women+,2021,Total - Marital status,1.3.1.1,15839455,NaN,976240,...,1145670,NaN,967735,NaN,671840,NaN,469645,NaN,541860,NaN
105,2021,Canada,2021A000011124,Women+,2021,Married or living common-law,1.3.1.2,8812595,NaN,13090,...,732745,NaN,569285,NaN,338415,NaN,177270,NaN,97660,NaN
106,2021,Canada,2021A000011124,Women+,2021,Married,1.3.1.3,6865875,NaN,1700,...,650470,NaN,521115,NaN,316125,NaN,169085,NaN,94450,NaN
107,2021,Canada,2021A000011124,Women+,2021,Living common-law,1.3.1.4,1946720,NaN,11385,...,82280,NaN,48170,NaN,22285,NaN,8190,NaN,3210,NaN
108,2021,Canada,2021A000011124,Women+,2021,Living common law - Never married,1.3.1.5,1481685,NaN,11380,...,28525,NaN,12600,NaN,4585,NaN,1590,NaN,660,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8536,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common-law,55.3.1.9,5975,NaN,1405,...,155,NaN,105,NaN,65,NaN,45,NaN,45,NaN
8537,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Never ...,55.3.1.10,4925,NaN,1405,...,45,NaN,25,NaN,10,NaN,5,NaN,0,NaN
8538,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Separated,55.3.1.11,240,NaN,0,...,10,NaN,5,NaN,5,NaN,0,NaN,0,NaN
8539,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Divorced,55.3.1.12,270,NaN,0,...,25,NaN,10,NaN,5,NaN,0,NaN,0,NaN
8540,2021,Nunavut,2021A000262,Women+,2021,Not married and not living common law - Widowed,55.3.1.13,545,NaN,0,...,75,NaN,65,NaN,45,NaN,40,NaN,40,NaN

In [19]:
women = census_2021_2017[census_2021_2017["Gender (3a)"] == "Women+"]["Age (16):Total - Age[1]"].sum()

print(women/total_gender)

0.5114339437222973

In [20]:
print(men/women)

0.9552872031102397

In [21]:
census_2021_2017["People in Labour Force"] = census_2021_2017["Age (16):15 to 19 years[2]"] + census_2021_2017["Age (16):20 to 24 years[3]"] + census_2021_2017["Age (16):25 to 29 years[4]"] + census_2021_2017["Age (16):30 to 34 years[5]"] + census_2021_2017["Age (16):35 to 39 years[6]"] + census_2021_2017["Age (16):40 to 44 years[7]"] + census_2021_2017["Age (16):45 to 49 years[8]"] + census_2021_2017["Age (16):50 to 54 years[9]"] + census_2021_2017["Age (16):55 to 59 years[10]"] + census_2021_2017["Age (16):60 to 64 years[11]"]
census_2021_2017["People in Labour Force"]

0       23957755
1       13365080
2        9853980
3        3511100
4        2851490
          ...
8536        5555
8537        4840
8538         215
8539         230
8540         270
Name: People in Labour Force, Length: 2145, dtype: int64

In [22]:
census_2021_2017[(census_2021_2017["Gender (3a)"] == "Women+") & (census_2021_2017["GEO"] == "Canada")]

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15,People in Labour Force
104,2021,Canada,2021A000011124,Women+,2021,Total - Marital status,1.3.1.1,15839455,NaN,976240,...,NaN,967735,NaN,671840,NaN,469645,NaN,541860,NaN,12042715
105,2021,Canada,2021A000011124,Women+,2021,Married or living common-law,1.3.1.2,8812595,NaN,13090,...,NaN,569285,NaN,338415,NaN,177270,NaN,97660,NaN,6897210
106,2021,Canada,2021A000011124,Women+,2021,Married,1.3.1.3,6865875,NaN,1700,...,NaN,521115,NaN,316125,NaN,169085,NaN,94450,NaN,5114635
107,2021,Canada,2021A000011124,Women+,2021,Living common-law,1.3.1.4,1946720,NaN,11385,...,NaN,48170,NaN,22285,NaN,8190,NaN,3210,NaN,1782585
108,2021,Canada,2021A000011124,Women+,2021,Living common law - Never married,1.3.1.5,1481685,NaN,11380,...,NaN,12600,NaN,4585,NaN,1590,NaN,660,NaN,1433705
109,2021,Canada,2021A000011124,Women+,2021,Living common law - Separated,1.3.1.6,58780,NaN,0,...,NaN,1595,NaN,590,NaN,180,NaN,65,NaN,53425
110,2021,Canada,2021A000011124,Women+,2021,Living common law - Divorced,1.3.1.7,355955,NaN,5,...,NaN,25955,NaN,10910,NaN,3080,NaN,785,NaN,272750
111,2021,Canada,2021A000011124,Women+,2021,Living common law - Widowed,1.3.1.8,50300,NaN,0,...,NaN,8025,NaN,6200,NaN,3340,NaN,1700,NaN,22710
112,2021,Canada,2021A000011124,Women+,2021,Not married and not living common-law,1.3.1.9,7026860,NaN,963155,...,NaN,398445,NaN,333430,NaN,292370,NaN,444200,NaN,5145475
113,2021,Canada,2021A000011124,Women+,2021,Not married and not living common law - Never ...,1.3.1.10,4144460,NaN,963145,...,NaN,62415,NaN,36840,NaN,25955,NaN,37560,NaN,3890555
114,2021,Canada,2021A000011124,Women+,2021,Not married and not living common law - Separated,1.3.1.11,422090,NaN,5,...,NaN,22255,NaN,12240,NaN,6415,NaN,4300,NaN,344620
115,2021,Canada,2021A000011124,Women+,2021,Not married and not living common law - Divorced,1.3.1.12,1161455,NaN,5,...,NaN,132660,NaN,81370,NaN,42080,NaN,29010,NaN,716675
116,2021,Canada,2021A000011124,Women+,2021,Not married and not living common law - Widowed,1.3.1.13,1298855,NaN,5,...,NaN,181115,NaN,202980,NaN,217920,NaN,373325,NaN,193655

In [23]:
census_2021_2017[(census_2021_2017["Gender (3a)"] == "Women+") & (census_2021_2017["GEO"] == "Canada")]["People in Labour Force"].sum()

37910715

In [24]:
census_2021_2017[(census_2021_2017["Gender (3a)"] == "Men+") & (census_2021_2017["GEO"] == "Canada")]

,REF_DATE,GEO,DGUID,Gender (3a),Census year (4),Marital status (13),Coordinate,Age (16):Total - Age[1],Symbol,Age (16):15 to 19 years[2],...,Symbol.11,Age (16):70 to 74 years[13],Symbol.12,Age (16):75 to 79 years[14],Symbol.13,Age (16):80 to 84 years[15],Symbol.14,Age (16):85 years and over[16],Symbol.15,People in Labour Force
52,2021,Canada,2021A000011124,Men+,2021,Total - Marital status,1.2.1.1,15139730,NaN,1036735,...,NaN,879850,NaN,589090,NaN,370905,NaN,319535,NaN,11915055
53,2021,Canada,2021A000011124,Men+,2021,Married or living common-law,1.2.1.2,8813405,NaN,5885,...,NaN,662970,NaN,442365,NaN,265055,NaN,186165,NaN,6467865
54,2021,Canada,2021A000011124,Men+,2021,Married,1.2.1.3,6859750,NaN,580,...,NaN,597165,NaN,406695,NaN,249400,NaN,178275,NaN,4739345
55,2021,Canada,2021A000011124,Men+,2021,Living common-law,1.2.1.4,1953650,NaN,5305,...,NaN,65805,NaN,35665,NaN,15655,NaN,7890,NaN,1728515
56,2021,Canada,2021A000011124,Men+,2021,Living common law - Never married,1.2.1.5,1485985,NaN,5305,...,NaN,18225,NaN,7435,NaN,2820,NaN,1445,NaN,1417775
57,2021,Canada,2021A000011124,Men+,2021,Living common law - Separated,1.2.1.6,65045,NaN,0,...,NaN,3350,NaN,1870,NaN,830,NaN,355,NaN,53545
58,2021,Canada,2021A000011124,Men+,2021,Living common law - Divorced,1.2.1.7,365760,NaN,0,...,NaN,37765,NaN,20440,NaN,7770,NaN,2955,NaN,245770
59,2021,Canada,2021A000011124,Men+,2021,Living common law - Widowed,1.2.1.8,36860,NaN,0,...,NaN,6460,NaN,5920,NaN,4240,NaN,3130,NaN,11430
60,2021,Canada,2021A000011124,Men+,2021,Not married and not living common-law,1.2.1.9,6326325,NaN,1030845,...,NaN,216885,NaN,146730,NaN,105850,NaN,133365,NaN,5447165
61,2021,Canada,2021A000011124,Men+,2021,Not married and not living common law - Never ...,1.2.1.10,4881415,NaN,1030840,...,NaN,58900,NaN,29925,NaN,17530,NaN,16055,NaN,4658095
62,2021,Canada,2021A000011124,Men+,2021,Not married and not living common law - Separated,1.2.1.11,319045,NaN,0,...,NaN,21895,NaN,12980,NaN,7535,NaN,5390,NaN,242290
63,2021,Canada,2021A000011124,Men+,2021,Not married and not living common law - Divorced,1.2.1.12,760425,NaN,0,...,NaN,84695,NaN,48490,NaN,23285,NaN,13120,NaN,481305
64,2021,Canada,2021A000011124,Men+,2021,Not married and not living common law - Widowed,1.2.1.13,365440,NaN,0,...,NaN,51390,NaN,55335,NaN,57500,NaN,98795,NaN,65490

In [25]:
census_2021_2017[(census_2021_2017["Gender (3a)"] == "Men+") & (census_2021_2017["GEO"] == "Canada")]["People in Labour Force"].sum()

37473645

In [26]:
labour_force_per_region = census_2021_2017.groupby(["GEO", "Gender (3a)"])["People in Labour Force"].sum()
print(labour_force_per_region)

GEO                               Gender (3a)
Abbotsford - Mission (CMA), B.C.  Men+               196425
                                  Total - Gender     389745
                                  Women+             193320
Alberta                           Men+              4403055
                                  Total - Gender    8779495
                                                     ...
Winnipeg (CMA), Man.              Total - Gender    1716610
                                  Women+             855070
Yukon                             Men+                42765
                                  Total - Gender      87355
                                  Women+              44575
Name: People in Labour Force, Length: 165, dtype: int64

In [27]:
labour_force_per_region = census_2021_2017[["GEO", "Gender (3a)", "People in Labour Force"]]

In [32]:
women_in_labour_force = labour_force_per_region[labour_force_per_region["Gender (3a)"] == "Women+"].groupby("GEO")

In [33]:
print(women_in_labour_force["People in Labour Force"].sum())

GEO
Abbotsford - Mission (CMA), B.C.                  193320
Alberta                                          4376460
Barrie (CMA), Ont.                                223135
Belleville - Quinte West (CMA), Ont.              108485
Brantford (CMA), Ont.                             144175
British Columbia                                 5151885
Calgary (CMA), Alta.                             1567475
Canada                                          37910715
Chilliwack (CMA), B.C.                            108400
Drummondville (CMA), Que.                         101745
Edmonton (CMA), Alta.                            1470685
Fredericton (CMA), N.B.                           113295
Greater Sudbury (CMA), Ont.                       173660
Guelph (CMA), Ont.                                174340
Halifax (CMA), N.S.                               503885
Hamilton (CMA), Ont.                              799780
Kamloops (CMA), B.C.                              114920
Kelowna (CMA), B.C.                               224895
Kingston (CMA), Ont.                              175130
Kitchener - Cambridge - Waterloo (CMA), Ont.      596045
Lethbridge (CMA), Alta.                           122725
London (CMA), Ont.                                555970
Manitoba                                         1330365
Moncton (CMA), N.B.                               162965
Montréal (CMA), Que.                             4520875
Nanaimo (CMA), B.C.                               113785
New Brunswick                                     775440
Newfoundland and Labrador                         512950
Northwest Territories                              45050
Nova Scotia                                       989175
Nunavut                                            37375
Ontario                                         14624080
Oshawa (CMA), Ont.                                430020
Ottawa - Gatineau (CMA), Ont./Que.               1571095
Peterborough (CMA), Ont.                          126255
Prince Edward Island                              155380
Quebec                                           8764055
Québec (CMA), Que.                                875820
Red Deer (CMA), Alta.                             105010
Regina (CMA), Sask.                               253550
Saguenay (CMA), Que.                              161280
Saint John (CMA), N.B.                            133435
Saskatchewan                                     1103900
Saskatoon (CMA), Sask.                            327040
Sherbrooke (CMA), Que.                            233650
St. Catharines - Niagara (CMA), Ont.              424680
St. John's (CMA), N.L.                            227170
Thunder Bay (CMA), Ont.                           123660
Toronto (CMA), Ont.                              6611165
Trois-Rivières (CMA), Que.                        162085
Vancouver (CMA), B.C.                            2840425
Victoria (CMA), B.C.                              406490
Windsor (CMA), Ont.                               417695
Winnipeg (CMA), Man.                              855070
Yukon                                              44575
Name: People in Labour Force, dtype: int64

In [34]:
men_in_labour_force = labour_force_per_region[labour_force_per_region["Gender (3a)"] == "Men+"].groupby("GEO")

In [36]:
print(men_in_labour_force["People in Labour Force"].sum())

GEO
Abbotsford - Mission (CMA), B.C.                  196425
Alberta                                          4403055
Barrie (CMA), Ont.                                222050
Belleville - Quinte West (CMA), Ont.              107905
Brantford (CMA), Ont.                             142355
British Columbia                                 5030785
Calgary (CMA), Alta.                             1557855
Canada                                          37473645
Chilliwack (CMA), B.C.                            106970
Drummondville (CMA), Que.                         105330
Edmonton (CMA), Alta.                            1479185
Fredericton (CMA), N.B.                           110445
Greater Sudbury (CMA), Ont.                       172855
Guelph (CMA), Ont.                                171140
Halifax (CMA), N.S.                               488840
Hamilton (CMA), Ont.                              782665
Kamloops (CMA), B.C.                              115105
Kelowna (CMA), B.C.                               218515
Kingston (CMA), Ont.                              172850
Kitchener - Cambridge - Waterloo (CMA), Ont.      606930
Lethbridge (CMA), Alta.                           122820
London (CMA), Ont.                                545515
Manitoba                                         1342680
Moncton (CMA), N.B.                               161515
Montréal (CMA), Que.                             4485280
Nanaimo (CMA), B.C.                               109480
New Brunswick                                     765160
Newfoundland and Labrador                         496805
Northwest Territories                              45995
Nova Scotia                                       951845
Nunavut                                            38215
Ontario                                         14307585
Oshawa (CMA), Ont.                                418265
Ottawa - Gatineau (CMA), Ont./Que.               1523010
Peterborough (CMA), Ont.                          119500
Prince Edward Island                              150370
Quebec                                           8787935
Québec (CMA), Que.                                880570
Red Deer (CMA), Alta.                             104445
Regina (CMA), Sask.                               253935
Saguenay (CMA), Que.                              166735
Saint John (CMA), N.B.                            128860
Saskatchewan                                     1110460
Saskatoon (CMA), Sask.                            324835
Sherbrooke (CMA), Que.                            232060
St. Catharines - Niagara (CMA), Ont.              411790
St. John's (CMA), N.L.                            219670
Thunder Bay (CMA), Ont.                           123075
Toronto (CMA), Ont.                              6389520
Trois-Rivières (CMA), Que.                        160700
Vancouver (CMA), B.C.                            2756485
Victoria (CMA), B.C.                              391655
Windsor (CMA), Ont.                               423010
Winnipeg (CMA), Man.                              861585
Yukon                                              42765
Name: People in Labour Force, dtype: int64

In [37]:
immigration = pd.read_csv('/content/drive/MyDrive/DAB103 - Group 8/immigration.csv')

In [38]:
immigration

,REF_DATE,GEO,DGUID,Sex,Type of migrant,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1971/1972,Canada,2016A000011124,Both sexes,Immigrants,All ages,Persons,249,units,0,v437339,1.1.1.1,117036.0,NaN,NaN,NaN,0
1,1971/1972,Canada,2016A000011124,Both sexes,Immigrants,-1 year,Persons,249,units,0,v437390,1.1.1.2,1021.0,NaN,NaN,NaN,0
2,1971/1972,Canada,2016A000011124,Both sexes,Immigrants,0 to 4 years,Persons,249,units,0,v437588,1.1.1.8,10706.0,NaN,NaN,NaN,0
3,1971/1972,Canada,2016A000011124,Both sexes,Immigrants,0 years,Persons,249,units,0,v437423,1.1.1.3,2085.0,NaN,NaN,NaN,0
4,1971/1972,Canada,2016A000011124,Both sexes,Immigrants,1 year,Persons,249,units,0,v437456,1.1.1.4,2345.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288375,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,18 to 64 years,Persons,249,units,0,v41446231,15.3.7.101,-3.0,NaN,NaN,NaN,0
1288376,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,25 to 44 years,Persons,249,units,0,v41446233,15.3.7.103,-3.0,NaN,NaN,NaN,0
1288377,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,45 to 64 years,Persons,249,units,0,v41446234,15.3.7.104,-2.0,NaN,NaN,NaN,0
1288378,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,65 years and over,Persons,249,units,0,v44187981,15.3.7.105,11.0,NaN,NaN,NaN,0
1288379,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,90 years and over,Persons,249,units,0,v44188036,15.3.7.91,0.0,NaN,NaN,NaN,0

In [39]:
immigration.shape

(1288380, 17)

In [40]:
immigration.describe()

          UOM_ID  SCALAR_ID         VALUE  SYMBOL   DECIMALS
count  1288380.0  1288380.0  1.261080e+06     0.0  1288380.0
mean       249.0        0.0  4.915924e+02     NaN        0.0
std          0.0        0.0  4.737347e+03     NaN        0.0
min        249.0        0.0 -7.118500e+04     NaN        0.0
25%        249.0        0.0  0.000000e+00     NaN        0.0
50%        249.0        0.0  3.000000e+00     NaN        0.0
75%        249.0        0.0  4.900000e+01     NaN        0.0
max        249.0        0.0  4.929840e+05     NaN        0.0

In [41]:
immigration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288380 entries, 0 to 1288379
Data columns (total 17 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   REF_DATE         1288380 non-null  object
 1   GEO              1288380 non-null  object
 2   DGUID            1258380 non-null  object
 3   Sex              1288380 non-null  object
 4   Type of migrant  1288380 non-null  object
 5   Age group        1288380 non-null  object
 6   UOM              1288380 non-null  object
 7   UOM_ID           1288380 non-null  int64
 8   SCALAR_FACTOR    1288380 non-null  object
 9   SCALAR_ID        1288380 non-null  int64
 10  VECTOR           1288380 non-null  object
 11  COORDINATE       1288380 non-null  object
 12  VALUE            1261080 non-null  float64
 13  STATUS           27300 non-null    object
 14  SYMBOL           0 non-null        float64
 15  TERMINATED       30000 non-null    object
 16  DECIMALS         1288380 non-null  int64
dtypes: float64(2), int64(3), object(12)
memory usage: 167.1+ MB

In [42]:
immigration.isna().sum().sum()

3865140

In [43]:
immigration.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Sex', 'Type of migrant', 'Age group',
       'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
       'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [44]:
immigration.index

RangeIndex(start=0, stop=1288380, step=1)

In [45]:
immigration_2021_2017 = immigration[immigration["REF_DATE"] > "2016"]
immigration_2021_2017

,REF_DATE,GEO,DGUID,Sex,Type of migrant,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1114500,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,All ages,Persons,249,units,0,v437339,1.1.1.1,272707.0,NaN,NaN,NaN,0
1114501,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,-1 year,Persons,249,units,0,v437390,1.1.1.2,706.0,NaN,NaN,NaN,0
1114502,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,0 to 4 years,Persons,249,units,0,v437588,1.1.1.8,18599.0,NaN,NaN,NaN,0
1114503,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,0 years,Persons,249,units,0,v437423,1.1.1.3,3293.0,NaN,NaN,NaN,0
1114504,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,1 year,Persons,249,units,0,v437456,1.1.1.4,3464.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288375,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,18 to 64 years,Persons,249,units,0,v41446231,15.3.7.101,-3.0,NaN,NaN,NaN,0
1288376,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,25 to 44 years,Persons,249,units,0,v41446233,15.3.7.103,-3.0,NaN,NaN,NaN,0
1288377,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,45 to 64 years,Persons,249,units,0,v41446234,15.3.7.104,-2.0,NaN,NaN,NaN,0
1288378,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,65 years and over,Persons,249,units,0,v44187981,15.3.7.105,11.0,NaN,NaN,NaN,0
1288379,2021/2022,Nunavut,2016A000262,Females,Net non-permanent residents,90 years and over,Persons,249,units,0,v44188036,15.3.7.91,0.0,NaN,NaN,NaN,0

In [46]:
immigrants_2021_2017 = immigration_2021_2017[immigration_2021_2017["Type of migrant"] == "Immigrants"]
immigrants_2021_2017

,REF_DATE,GEO,DGUID,Sex,Type of migrant,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1114500,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,All ages,Persons,249,units,0,v437339,1.1.1.1,272707.0,NaN,NaN,NaN,0
1114501,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,-1 year,Persons,249,units,0,v437390,1.1.1.2,706.0,NaN,NaN,NaN,0
1114502,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,0 to 4 years,Persons,249,units,0,v437588,1.1.1.8,18599.0,NaN,NaN,NaN,0
1114503,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,0 years,Persons,249,units,0,v437423,1.1.1.3,3293.0,NaN,NaN,NaN,0
1114504,2016/2017,Canada,2016A000011124,Both sexes,Immigrants,1 year,Persons,249,units,0,v437456,1.1.1.4,3464.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287823,2021/2022,Nunavut,2016A000262,Females,Immigrants,18 to 64 years,Persons,249,units,0,v475229,15.3.1.101,25.0,NaN,NaN,NaN,0
1287824,2021/2022,Nunavut,2016A000262,Females,Immigrants,25 to 44 years,Persons,249,units,0,v475235,15.3.1.103,19.0,NaN,NaN,NaN,0
1287825,2021/2022,Nunavut,2016A000262,Females,Immigrants,45 to 64 years,Persons,249,units,0,v475238,15.3.1.104,4.0,NaN,NaN,NaN,0
1287826,2021/2022,Nunavut,2016A000262,Females,Immigrants,65 years and over,Persons,249,units,0,v475241,15.3.1.105,0.0,NaN,NaN,NaN,0
1287827,2021/2022,Nunavut,2016A000262,Females,Immigrants,90 years and over,Persons,249,units,0,v475508,15.3.1.91,0.0,NaN,NaN,NaN,0

In [ ]:
women_immigrants = immigrants_2021_2017[immigrants_2021_2017["Sex"] == "Females"]
women_immigrants

In [48]:
women_immigrants["VALUE"].sum()

17523786.0

In [ ]:
women_immigrants[women_immigrants["Age group"] == "15 to 64 years"]

In [50]:
women_immigrants[women_immigrants["Age group"] == "15 to 64 years"]["VALUE"].sum()

1512896.0

In [ ]:
women_immigrants_per_region = women_immigrants[["GEO", "Age group", "VALUE"]]
print(women_immigrants_per_region)

In [ ]:
women_immigrants_per_region[women_immigrants_per_region["Age group"] == "15 to 64 years"]

In [ ]:
men_immigrants = immigrants_2021_2017[immigrants_2021_2017["Sex"] == "Males"]
men_immigrants

In [94]:
men_immigrants["VALUE"].sum()

17274138.0

In [ ]:
men_immigrants[men_immigrants["Age group"] == "15 to 64 years"]

In [233]:
men_immigrants[men_immigrants["Age group"] == "15 to 64 years"]["VALUE"].sum()

1478922.0