In [2]:
from prompt_toolkit import filters
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [21]:
Unemployment_Dataset = pd.read_csv("F:\\Files\\Docs\\Canada\\St Clair\\DAB103 Project Files\\Data\\Unemployment.csv", skiprows=12, skipfooter=15)

In [22]:
Unemployment_Dataset

,North American Industry Classification System (NAICS) 4,2017,2018,2019,2020,2021,Unnamed: 6,Unnamed: 7
0,NaN,Percentage,NaN,NaN,NaN,NaN,NaN,NaN
1,"Total, all industries 5",6.4,5.9,5.7,9.5,7.5,NaN,NaN
2,Goods-producing sector 6,5.6,5,5.1,8,5.1,NaN,NaN
3,Agriculture 7,4.4,4,4.4,5.1,4.7,NaN,NaN
4,"Forestry, fishing, mining, quarrying, oil and ...",8,6.9,7.4,10.9,7.2,NaN,NaN
5,Forestry and logging and support activities fo...,11.2,10.9,11.3,10.6,9.1,NaN,NaN
6,"Fishing, hunting and trapping",27.3,22.8,28.2,22.5,25.4,NaN,NaN
7,"Mining, quarrying, and oil and gas extraction 8",5.6,4.8,4.9,9.9,5.2,NaN,NaN
8,Utilities,2.1,1.6,1.7,1.9,1.6,NaN,NaN
9,Construction,7.7,6.6,6.8,9.7,5.8,NaN,NaN
10,Manufacturing,3.7,3.6,3.7,7.1,4.5,NaN,NaN
11,Durables,3.4,3.3,3.4,7.4,4.4,NaN,NaN
12,Non-durables,4.1,4.1,4.1,6.6,4.7,NaN,NaN
13,Services-producing sector 10,3.5,3.3,3.3,7.1,3.9,NaN,NaN
14,Wholesale and retail trade,3.8,3.8,3.7,7.6,4.7,NaN,NaN
15,Wholesale trade,3.4,2.7,2.5,5.7,3.6,NaN,NaN
16,Retail trade,4,4.1,4.1,8.2,4.9,NaN,NaN
17,Transportation and warehousing,3.1,3.4,3.2,7.5,4.3,NaN,NaN
18,"Finance, insurance, real estate, rental and le...",2.3,1.9,1.6,3.3,1.8,NaN,NaN
19,Finance and insurance,2.3,1.8,1.6,2.6,1.4,NaN,NaN
20,Real estate and rental and leasing,2.1,2.1,1.8,5,2.6,NaN,NaN
21,"Professional, scientific and technical services",2.8,2.6,2.7,5,2.5,NaN,NaN
22,"Business, building and other support services 11",7,5.7,6.2,10,6.5,NaN,NaN
23,Educational services,3.5,3.5,3.7,6.7,3.8,NaN,NaN
24,Health care and social assistance,1.7,1.7,1.5,3.5,1.8,NaN,NaN
25,"Information, culture and recreation",5.5,5,5.6,13.1,7.4,NaN,NaN
26,Accommodation and food services,5.8,5.4,5.6,17.9,8.8,NaN,NaN
27,Other services (except public administration),3.8,2.9,2.8,7.9,4.6,NaN,NaN
28,Public administration,1.8,2.1,2.1,3,2,NaN,NaN
29,Unclassified industries 12,..,..,..,..,..,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Symbol legend:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,..,not available for a specific reference period,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1,"To ensure respondent confidentiality, estimate...",NaN,NaN,NaN,NaN,NaN,NaN
39,2,Excluding the territories.,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
Unemployment_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   North American Industry Classification System (NAICS) 4  34 non-null     object
 1   2017                                                     33 non-null     object
 2   2018                                                     29 non-null     object
 3   2019                                                     29 non-null     object
 4   2020                                                     29 non-null     object
 5   2021                                                     29 non-null     object
 6   Unnamed: 6                                               0 non-null      float64
 7   Unnamed: 7                                               0 non-null      float64
dtypes: float64(2), object(6)
memory usage: 2.6+ KB

In [6]:
Unemployment_Annual = pd.read_csv("F:\\Files\\Docs\\Canada\\St Clair\\DAB103 Project Files\\Data\\Unemployment-annual.csv", skiprows=12)

In [7]:
Unemployment_Annual.head()

,1976,Canada,2016A000011124,Labour force,"Total, all industries",Females,55 years and over,Persons,249,thousands,3,v19668080,1.1.1.3.4,357.6,Unnamed: 14,Unnamed: 15,Unnamed: 16,1
0,1976,Canada,2016A000011124,Labour force,Goods-producing sector,Both sexes,15 years and over,Persons,249,thousands,3,v2363354,1.1.2.1.1,3628.4,NaN,NaN,NaN,1
1,1976,Canada,2016A000011124,Labour force,Goods-producing sector,Both sexes,15 to 24 years,Persons,249,thousands,3,v19668081,1.1.2.1.2,889.2,NaN,NaN,NaN,1
2,1976,Canada,2016A000011124,Labour force,Goods-producing sector,Both sexes,25 to 54 years,Persons,249,thousands,3,v19668082,1.1.2.1.3,2317.3,NaN,NaN,NaN,1
3,1976,Canada,2016A000011124,Labour force,Goods-producing sector,Both sexes,55 years and over,Persons,249,thousands,3,v19668083,1.1.2.1.4,421.9,NaN,NaN,NaN,1
4,1976,Canada,2016A000011124,Labour force,Goods-producing sector,Males,15 years and over,Persons,249,thousands,3,v2363524,1.1.2.2.1,2912.3,NaN,NaN,NaN,1

In [8]:
Unemployment_Annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953820 entries, 0 to 953819
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   1976                   953820 non-null  int64
 1   Canada                 953820 non-null  object
 2   2016A000011124         953820 non-null  object
 3   Labour force           953820 non-null  object
 4   Total, all industries  953820 non-null  object
 5   Females                953820 non-null  object
 6   55 years and over      953820 non-null  object
 7   Persons                953820 non-null  object
 8   249                    953820 non-null  int64
 9   thousands              953820 non-null  object
 10  3                      953820 non-null  int64
 11  v19668080              953820 non-null  object
 12  1.1.1.3.4              953820 non-null  object
 13  357.6                  676182 non-null  float64
 14  Unnamed: 14            277638 non-null  object
 15  Unnamed: 15            0 non-null       float64
 16  Unnamed: 16            0 non-null       float64
 17  1                      953820 non-null  int64
dtypes: float64(3), int64(4), object(11)
memory usage: 131.0+ MB

In [11]:
Unemployment_Monthly = pd.read_csv("F:\\Files\\Docs\\Canada\\St Clair\\DAB103 Project Files\\Data\\Unemployment-Monthly.csv", skiprows=12, index_col=0)

In [12]:
Unemployment_Monthly.head()

,January 2017,February 2017,March 2017,April 2017,May 2017,June 2017,July 2017,August 2017,September 2017,October 2017,...,September 2021,October 2021,November 2021,December 2021,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022
North American Industry Classification System (NAICS) 4,,,,,,,,,,,,,,,,,,,,,
NaN,Percentage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Total, all industries 5",7.2,7.0,7.3,6.8,6.6,6.1,6.6,6.9,5.7,5.7,...,6.3,6.0,5.6,5.4,6.8,5.7,5.7,5.5,5.1,4.7
Goods-producing sector 6,8.2,7.7,8.0,7.6,5.2,4.4,4.5,4.3,3.9,4.1,...,3.6,3.5,4.2,4.0,5.8,5.4,4.9,4.6,3.7,3.1
Agriculture 7,7.1,7.0,7.5,6.4,3.8,3.2,2.3,2.1,2.4,3.4,...,3.6,3.6,5.1,6.0,8.3,6.6,6.5,4.9,3.0,2.6
"Forestry, fishing, mining, quarrying, oil and gas 8 9",10.1,9.9,11.3,10.3,7.8,5.6,6.2,6.9,5.8,6.3,...,4.3,5.9,8.2,4.7,5.9,7.1,5.1,7.2,5.5,4.2

In [13]:
Unemployment_Monthly.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, nan to https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410002201
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   January 2017    44 non-null     object
 1   February 2017   30 non-null     object
 2   March 2017      30 non-null     object
 3   April 2017      30 non-null     object
 4   May 2017        30 non-null     object
 5   June 2017       30 non-null     object
 6   July 2017       30 non-null     object
 7   August 2017     29 non-null     object
 8   September 2017  29 non-null     object
 9   October 2017    29 non-null     object
 10  November 2017   29 non-null     object
 11  December 2017   29 non-null     object
 12  January 2018    29 non-null     object
 13  February 2018   29 non-null     object
 14  March 2018      29 non-null     object
 15  April 2018      29 non-null     object
 16  May 2018        29 non-null     object
 17  June 2018       29 non-null     object
 18  July 2018       29 non-null     object
 19  August 2018     29 non-null     object
 20  September 2018  29 non-null     object
 21  October 2018    29 non-null     object
 22  November 2018   29 non-null     object
 23  December 2018   29 non-null     object
 24  January 2019    29 non-null     object
 25  February 2019   29 non-null     object
 26  March 2019      29 non-null     object
 27  April 2019      29 non-null     object
 28  May 2019        29 non-null     object
 29  June 2019       29 non-null     object
 30  July 2019       29 non-null     object
 31  August 2019     29 non-null     object
 32  September 2019  29 non-null     object
 33  October 2019    29 non-null     object
 34  November 2019   29 non-null     object
 35  December 2019   29 non-null     object
 36  January 2020    29 non-null     object
 37  February 2020   29 non-null     object
 38  March 2020      29 non-null     object
 39  April 2020      29 non-null     object
 40  May 2020        29 non-null     object
 41  June 2020       29 non-null     object
 42  July 2020       29 non-null     object
 43  August 2020     29 non-null     object
 44  September 2020  29 non-null     object
 45  October 2020    29 non-null     object
 46  November 2020   29 non-null     object
 47  December 2020   29 non-null     object
 48  January 2021    29 non-null     object
 49  February 2021   29 non-null     object
 50  March 2021      29 non-null     object
 51  April 2021      29 non-null     object
 52  May 2021        29 non-null     object
 53  June 2021       29 non-null     object
 54  July 2021       29 non-null     object
 55  August 2021     29 non-null     object
 56  September 2021  29 non-null     object
 57  October 2021    29 non-null     object
 58  November 2021   29 non-null     object
 59  December 2021   29 non-null     object
 60  January 2022    29 non-null     object
 61  February 2022   29 non-null     object
 62  March 2022      29 non-null     object
 63  April 2022      29 non-null     object
 64  May 2022        29 non-null     object
 65  June 2022       29 non-null     object
dtypes: object(66)
memory usage: 25.1+ KB

In [ ]:
Unemployment_Monthly.tail()

In [13]:
Unemployment_Monthly.describe()

,Labour force characteristics,Unemployment rate 3,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
count,50,47,31,31,31,31,31,31,30,30,...,30,30,30,30,30,30,30,30,30,30
unique,50,44,26,28,30,26,25,28,26,26,...,19,26,24,23,24,24,22,25,24,25
top,5,2.9,7.0,4.0,4.0,2.5,3.2,3.1,3.5,3.4,...,3.6,1.2,2.6,1.4,3.9,3.5,2.8,1.8,1.4,2.4
freq,1,2,4,2,2,2,2,2,2,3,...,3,3,3,4,4,3,3,2,2,3

In [14]:
Unemployment_Monthly.isna().sum().sum()

1233

In [15]:
Unemployment_Annual.isna().sum().sum()

2861460

In [16]:
Unemployment_Dataset.isna().sum().sum()

307